parameters:
	ignoreErrors:
		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 2
			path: ../../../tests/unit/Service/BuilderTest.php

		-
			message: "#^Return type of call to method PHPUnit\\\\Framework\\\\TestCase\\:\\:createMock\\(\\) contains unresolvable type\\.$#"
			count: 4
			path: ../../../tests/unit/Service/FilterTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../../../tests/unit/Service/FilterTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../../../tests/unit/Service/ReaderTest.php
