includes:
	- ../../scripts/phpstan/baseline.neon

parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    paths:
        - ../../bin/pcsf-baseline
        - ../../src/
        - ../../tests/

    parallel:
        processTimeout: 300.0
